<!DOCTYPE html>
<html lang="en">
<head>
	<title>Data Science Engineering Club</title>
	 <!-- add bootstrap css file -->

      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">

</head>
<body>
  <!-- navbar -->
	<!-- Navigation -->

  <nav class="navbar navbar-expand-lg fixed-top ">
		  <a class="navbar-brand" href="#">Data Science Engineering Club</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse " id="navbarSupportedContent">
		    <ul class="navbar-nav mr-4">

					<li class="nav-item">
		        <a class="nav-link" data-value="sponsors" href="#">Sponsors</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" data-value="about" href="#">About</a>
		      </li>
					<li class="nav-item">
						<a class="nav-link " data-value="members" href="#">
						Members</a>
					</li>
		      <li class="nav-item">
		        <a class="nav-link " data-value="projects" href="#">Projects</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link " data-value="blog" href="#">Blog</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link " data-value="contact" href="#">Contact</a>
		      </li>
					<li class="nav-item">
						<a class="nav-link " data-value="contact" href="#">Login</a>
					</li>
		    </ul>

		  </div>
	</nav>

<!-- header -->
<header class="header ">
  <div class="overlay"></div>
   <div class="container">
   	  <div class="description ">
  	<h1>
  		Welcome to this website
  		<p>
  		Our goals are to share knowledge, experience, learn new techniques,
			practice new programming languages and frameworks.
			</p>
  	</h1>
  </div>
   </div>

</header>

<!-- Sponsors -->
<div class="sponsors" id="sponsors">
	<div class="container">
	  <h1 class="text-center">Sponsors</h1>

				<p>
           You company logo can be displayed here.
				</p>
			</div>
		</div>
	</div>
</div>


<!-- about section -->
<div class="about" id="about">
	<div class="container">
	  <h1 class="text-center">About Us</h1>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="{{ url_for('static',filename='images/DSEC17.jpeg') }}" class="img-fluid">
				<!-- <span class="text-justify">Morning</span> -->
			</div>
			<div class="col-lg-8 col-md-8 col-sm-12 desc">
				<p>
					We are data enthusiasts who organize workshops and presentations in the areas of
					 Data Acquisition, Data Wrangling, Data Storage, Data Engineering,
					  Machine Learning, Data Science, Distributed and Cloud Computing.
					We review Data Science practices via Data Science Engineering
					Fundamentals program, Data Science Engineering projects
					and Kaggle competitions.
				</p>
			</div>
		</div>
	</div>
</div>



<!-- Members section -->
<div class="members" id="members">
	<div class="container">
	   <h1 class="text-center">Meet our members</h1>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 item">
				<img src={{ url_for('static',filename='images/DSEC.jpeg') }} class="img-fluid" alt="members">
				<div class="des">
				 	Presentations
				 </div>
				<span class="text-muted">Morning</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 item">
				<img src={{ url_for('static',filename='images/DSEC2.jpeg') }} class="img-fluid" alt="members">
				<div class="des">
				 	 Networking
				 </div>
				<span class="text-muted">Break</span>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 item">
				<img src={{ url_for('static',filename='images/DSEC3.jpeg') }} class="img-fluid" alt="members">
				<div class="des">
				 	 Workshops
				 </div>
				<span class="text-muted">Afternoon</span>
			</div>

		</div>
	</div>
</div>



<!-- Projects section -->
<div class="projects" id="projects">
	<div class="container">
	<h1 class="text-center">Projects</h1>
		<div class="row">
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src={{ url_for('static',filename='images/posts/Kaggle.PNG') }} class="img-fluid">
					</div>

					<div class="card-body">
					<h4 class="card-title">Kaggle competitions</h4>
						<p class="card-text">

							Lets start with Kaggle competitions.
						</p>
					</div>
					<div class="card-footer">
						<a href="" class="card-link">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src={{ url_for('static',filename='images/posts/DSEF.PNG') }} class="img-fluid">
					</div>

					<div class="card-body">
					   <h4 class="card-title">Data Science Engineering fundamentals </h4>
						<p class="card-text">
							The purpose of this program is to review
							Data Science Engineering fundamentals via presentations and workshops.
						</p>
					</div>
					<div class="card-footer">
						<a href="" class="card-link">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src={{ url_for('static',filename='images/posts/Clustering.PNG') }} class="img-fluid">
					</div>

					<div class="card-body">
					<h4 class="card-title">Clustering project</h4>
						<p class="card-text">
							Financial data segmenation project.
						</p>
					</div>
					<div class="card-footer">
						<a href="" class="card-link">Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Blog -->
<div class="blog" id="blog">
	<div class="container">
	  <h1 class="text-center">Blog</h1>

				<p>
           Currently under development.
				</p>
			</div>
		</div>
	</div>
</div>


<!-- Contact form -->
<div class="contact-form" id="contact">
	<div class="container">
		<form action="mailto:roman.golovnya@gmail.com" method="post"
			enctype="text/plain">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12">
				  <h1>Get in Touch</h1>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 right">
				   <div class="form-group">
				   	 <input type="text" class="form-control form-control-lg" placeholder="Your Name" name="">
				   </div>
				   <div class="form-group">
				   	 <input type="email" class="form-control form-control-lg" placeholder="YourEmail@email.com" name="email">
				   </div>
				   <div class="form-group">
				   	 <textarea class="form-control form-control-lg">

				   	 </textarea>
				   </div>
				   <input type="submit" class="btn btn-secondary btn-block" value="Send" name="">
				</div>
			</div>
		</form>
	</div>
</div>
<!-- add Javasscript file from js file -->
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>

</body>
</html>
